/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/l4/stm32l452Xc.dtsi>

/ {
	model = "Libre Solar BMS 8S50 IC";
	compatible = "st,stm32l452re-nucleo", "st,stm32l452";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led1: led_0 {
			gpios = <&gpiob 14 GPIO_INT_ACTIVE_HIGH>;
			label = "LED 1";
		};
		led2: led_1 {
			gpios = <&gpiob 15 GPIO_INT_ACTIVE_HIGH>;
			label = "LED 2";
		};
		/* TODO: put to GPIOs or similar */
		i2c_pu: pb_2 {
			gpios = <&gpiob 2 GPIO_INT_ACTIVE_HIGH>;
			label = "I2C Pull-Up";
		};
	};

	aliases {
		led-red = &led1;
		led-green = &led2;
		i2c-pullup = &i2c_pu;
	};
};

&usart1 {
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	status = "okay";

	ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		label = "SSD1306";
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};
};

&i2c2 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&spi1 {
	status = "okay";
};

&timers2 {
	status = "okay";

	pwm {
		status = "okay";
	};
};

&can1 {
	bus-speed = <125000>;
	status = "okay";
};

&rtc {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/*
		 * Reserve the final 16 KiB for file system partition
		 */
		storage_partition: partition@3c000 {
			label = "storage";
			reg = <0x0003c000 0x00004000>;
		};
	};
};
