/*
 * Copyright (c) The Libre Solar Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f0/stm32f072Xb.dtsi>
#include <st/f0/stm32f072c(8-b)tx-pinctrl.dtsi>

/ {
	model = "Libre Solar BMS 5S50 SC";
	compatible = "st,stm32f072";

	pcb {
		compatible = "bms";

		type = "BMS 5S50 SC";
		version-str = "v0.1";
		version-num = <1>;

		num-cells-max = <5>;
		num-thermistors-max = <1>;

		current-max = <50>;
		shunt-res = <1000>;

		/*
		 * Additional information:
		 * - GAIN_PACK_VOLTAGE (110/10)
		 * - PIN_V_REF    PA_0
		 * - PIN_V_BAT    PA_4
		 * - PIN_V_EXT    PA_5
		 * - PIN_TEMP_1   PA_6
		 * - PIN_TEMP_2   PA_7
		 */
	};

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led1: led_0 {
			gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
			label = "LED 1";
		};
		led2: led_1 {
			gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
			label = "LED 2";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		power_button: button {
			label = "Power Button";
			gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
		};
	};

	switches {
		compatible = "switch";
		can_en {
			gpios = <&gpioa 15 GPIO_ACTIVE_LOW>;
			label = "CAN transceiver enable";
		};
		pchg_en {
			gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
			label = "PCHG enable pin";
		};
	};

	aliases {
		led-red = &led1;
		led-green = &led2;
		uart-dbg = &usart1;
		uart-uext = &usart2;
		i2c-uext = &i2c1;
		sw-pwr = &power_button;
	};
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";

	bq769x0@8 {
		compatible = "ti,bq769x0";
		label = "BQ76920";
		reg = <0x08>;	// ignored (firmware will auto-detect I2C address)
		alert-gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
	};

	eeprom@50 {
		// Microchip 24AA01
		compatible = "atmel,at24";
		reg = <0x50>;
		label = "EEPROM_0";
		size = <1024>;
		pagesize = <8>;
		address-width = <8>;
		/*
		 * timeout of 5 ms as suggested in datasheet seems too optimistic
		 * (several write errors occured during testing)
		 */
		timeout = <7>;
	};
};

&spi1 {
	pinctrl-0 = <&spi1_sck_pb3 &spi1_miso_pb4 &spi1_mosi_pb5>;
	cs-gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&iwdg {
	status = "okay";
};

&adc1 {
	status = "okay";
};

&can1 {
	pinctrl-0 = <&can_rx_pb8 &can_tx_pb9>;
	bus-speed = <250000>;
	status = "okay";
};
