# Copyright (c) The Libre Solar Project Contributors
# SPDX-License-Identifier: Apache-2.0

if BOARD_BMS_5S50_SC

config BOARD
	default "bms_5s50_sc"

endif # BOARD_BMS_5S50_SC

if BMS_IC

config BMS_IC_MAX_CELLS
	default 5

config BMS_IC_MAX_THERMISTORS
	default 1

endif # BMS_IC
