# Copyright (c) 2020 Libre Solar Technologies GmbH
# SPDX-License-Identifier: Apache-2.0

if BOARD_BMS_5S50_SC

config BOARD
	default "bms_5s50_sc"

config LIBRE_SOLAR_TYPE_ID
	default 3

config BMS_BQ76920
	default y

if UART_CONSOLE

config UART_1
	default y

endif # UART_CONSOLE

if PWM

config PWM_STM32_2
	default y

endif # PWM

if SPI

config SPI_1
	default y

config SPI_STM32_INTERRUPT
	default y

endif # SPI

if I2C

config I2C_1
	default y

config I2C_2
	default y

endif # I2C

if CAN

config CAN_1
	default y

endif # CAN

endif # BOARD_BMS_5S50_SC
