# Copyright (c) The Libre Solar Project Contributors
# SPDX-License-Identifier: Apache-2.0

if BOARD_BMS_8S50_IC

config BOARD
	default "bms_8s50_ic"

config LIBRE_SOLAR_TYPE_ID
	default 6

config BMS_ISL94202
	default y

endif # BOARD_BMS_8S50_IC
