CONFIG_CELL_TYPE_NMC=y
CONFIG_NUM_CELLS_IN_SERIES=13
CONFIG_THINGSET_SERIAL=y
CONFIG_THINGSET_CAN=y
CONFIG_GPIO=y
CONFIG_I2C=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_PINCTRL=y
CONFIG_CLOCK_CONTROL=y
CONFIG_SERIAL=y
CONFIG_THINGSET=y
CONFIG_THINGSET_IMMUTABLE_SUBSETS=y
CONFIG_OKAI_PB2_POWER=y
CONFIG_SOC_SERIES_STM32F0X=y
CONFIG_SOC_STM32F072XB=y
CONFIG_THREAD_NAME=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_PINMUX=y
CONFIG_CAN=y
CONFIG_HWINFO=y
CONFIG_NEWLIB_LIBC=y
CONFIG_NEWLIB_LIBC_FLOAT_PRINTF=y
CONFIG_REBOOT=y
CONFIG_CPLUSPLUS=y
CONFIG_LIB_CPLUSPLUS=y
CONFIG_LOG=y
CONFIG_LOG_MODE_MINIMAL=y
