/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2020 Martin Jäger / Libre Solar
 */

/dts-v1/;
#include <st/l4/stm32l452Xc.dtsi>

/ {
	model = "Libre Solar BMS 8S50 IC";
	compatible = "st,stm32l452";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led1: led_0 {
			gpios = <&gpiob 14 GPIO_INT_ACTIVE_HIGH>;
			label = "LED 1";
		};
		led2: led_1 {
			gpios = <&gpiob 15 GPIO_INT_ACTIVE_HIGH>;
			label = "LED 2";
		};
		/* TODO: put to GPIOs or similar */
		i2c_pu: pb_2 {
			gpios = <&gpiob 2 GPIO_INT_ACTIVE_HIGH>;
			label = "I2C Pull-Up";
		};
		can_stb: can_stb {
			gpios = <&gpioc 13 GPIO_INT_ACTIVE_LOW>;
			label = "CAN disable / standby";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		power_button: button {
			label = "Power Button";
			gpios = <&gpioa 8 GPIO_INT_ACTIVE_LOW>;
		};
	};

	aliases {
		led-red = &led1;
		led-green = &led2;
		i2c-pullup = &i2c_pu;
		can-stb = &can_stb;
		sw-pwr = &power_button;
		i2c-uext = &i2c1;
		uart-dbg = &usart1;
	};
};

&usart1 {
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&spi1 {
	status = "okay";
};

&timers2 {
	status = "okay";

	pwm {
		status = "okay";
	};
};

&can1 {
	bus-speed = <125000>;
	status = "okay";
};

&rtc {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/*
		 * Reserve the final 16 KiB for file system partition
		 */
		storage_partition: partition@3c000 {
			label = "storage";
			reg = <0x0003c000 0x00004000>;
		};
	};
};
