# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 Libre Solar Technologies GmbH

if BOARD_BMS_8S50_IC_L452

config BOARD
	default "bms_8s50_ic_l452"

config LIBRE_SOLAR_TYPE_ID
	default 6

endif # BOARD_BMS_8S50_IC_L452
