# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 Libre Solar Technologies GmbH

if BOARD_BMS_8S50_IC_L452

config BOARD
	default "bms_8s50_ic_l452"

config LIBRE_SOLAR_TYPE_ID
	default 6

if UART_CONSOLE

config UART_1
	bool
	default y

endif # UART_CONSOLE

if PWM

config PWM_STM32_2
	default y

endif # PWM

if SPI

config SPI_1
	default y

config SPI_STM32_INTERRUPT
	default y

endif # SPI

if I2C

config I2C_1
	default y

config I2C_2
	default y

endif # I2C

if CAN

config CAN_1
	default y

endif # CAN

endif # BOARD_BMS_8S50_IC_L452
