/*
 * Copyright (c) The Libre Solar Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "native_posix.overlay"

/ {
	aliases {
                bms-ic = &isl94202;
        };
};

&i2c0 {
	status = "okay";

	isl94202: isl94202@28 {
		compatible = "renesas,isl94202";
		reg = <0x28>;	/* 0x50 >> 1 */
		pull-up-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		shunt-resistor-uohm = <2000>;
		board-max-current = <50>;
		used-cell-channels = <0xFF>;
		status = "okay";
	};
};
