/*
 * Copyright (c) The Libre Solar Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	/* delete conflicting nodes from Zephyr native_posix board */
	/delete-node/ aliases;

	pcb {
		compatible = "bms";

		type = "Native POSIX dummy";
		version-str = "v0.1";
		version-num = <1>;

		num-cells-max = <8>;
		num-thermistors-max = <2>;

		current-max = <50>;
		shunt-res = <1500>;
	};

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led1: led_0 {
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		};
		led2: led_1 {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		power_button: button {
			gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
		};
	};

	aliases {
		led-red = &led1;
		led-green = &led2;
		sw-pwr = &power_button;
		uart-dbg = &uart0;
		uart-uext = &uart0;
	};
};

&i2c0 {
	bq769x0: bq769x0@8 {
		compatible = "ti,bq769x0";
		reg = <0x08>;    	// ignored (firmware will auto-detect I2C address)
		alert-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	bq769x2: bq769x2@8 {
		compatible = "ti,bq769x2-i2c";
		reg = <0x08>;	/* 0x10 >> 1 */
		alert-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	/* selected by default, override via overlay */
	isl94202: isl94202@28 {
		compatible = "renesas,isl94202";
		reg = <0x28>;	/* 0x50 >> 1 */
		status = "okay";
	};
};
