/*
 * Copyright (c) The Libre Solar Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <espressif/esp32c3/esp32c3_mini_n4.dtsi>

#include "bms_16s100_sc_esp32c3-pinctrl.dtsi"

#include <dt-bindings/bms_ic/bq769x2.h>

/ {
	model = "Libre Solar BMS 16S100 IC";
	compatible = "espressif,esp32c3";

	pcb {
		compatible = "bms";

		type = "BMS 16S100 SC ESP32C3";
		version-str = "v0.2";
		version-num = <2>;
	};

	chosen {
		zephyr,sram = &sram0;
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		thingset,serial = &uart0;
	};

	leds {
		compatible = "gpio-leds";
		led1: led_0 {
			gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
		};
		led2: led_1 {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		power_button: button {
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		led-red = &led1;
		led-green = &led2;
		sw-pwr = &power_button;
		bms-ic = &bq76952;
	};
};

&cpu0 {
	clock-frequency = <ESP32_CLK_CPU_160M>;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&usb_serial {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	bq76952: bq769x2@8 {
		compatible = "ti,bq769x2-i2c";
		reg = <0x08>;
		alert-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		used-cell-channels = <0xFFFF>;
		/* all NTCs configured with 18k pull-up */
		ts1-pin-config = <0x07>;
		ts3-pin-config = <0x07>;
		dchg-pin-config = <0x07>;
		cell-temp-pins = <BQ769X2_PIN_TS1 BQ769X2_PIN_TS3>;
		fet-temp-pin = <BQ769X2_PIN_DCHG>;
		board-max-current = <100>;
		shunt-resistor-uohm = <500>;
		status = "okay";
	};
};

&trng0 {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&flash0 {
	status = "okay";
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Reserve 60kB for the bootloader */
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x0000F000>;
			read-only;
		};

		/* Reserve 1024kB for the application in slot 0 */
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00100000>;
		};

		/* Reserve 1024kB for the application in slot 1 */
		slot1_partition: partition@110000 {
			label = "image-1";
			reg = <0x00110000 0x00100000>;
		};

		/* Reserve 256kB for the scratch partition */
		scratch_partition: partition@210000 {
			   label = "image-scratch";
			   reg = <0x00210000 0x00040000>;
		};

		storage_partition: partition@250000 {
			label = "storage";
			reg = <0x00250000 0x00006000>;
		};
	};
};
