# Copyright (c) The Libre Solar Project Contributors
# SPDX-License-Identifier: Apache-2.0

if BOARD_BMS_C1

config BOARD
	default "bms_c1" if BOARD_BMS_C1

config ENTROPY_ESP32_RNG
	default y if ENTROPY_GENERATOR

config HEAP_MEM_POOL_SIZE
	default 98304 if WIFI
	default 40960 if BT
	default 4096

choice BT_HCI_BUS_TYPE
	default BT_ESP32 if BT
endchoice

endif # BOARD_BMS_C1

if BMS_IC

config BMS_IC_MAX_THERMISTORS
	default 2

endif # BMS_IC
