# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 Martin Jäger (Libre Solar)

mainmenu "Libre Solar Battery Management System Firmware"

#
# Invisible (board-specific) Kconfig symbols
#

config BMS_BQ76920
    bool
    help
      Texas Instruments bq76920 used as BMS IC

config BMS_BQ76930
    bool
    help
      Texas Instruments bq76930 used as BMS IC

config BMS_BQ76940
    bool
    help
      Texas Instruments bq76940 used as BMS IC

config BMS_ISL94202
    bool
    help
      Intersil ISL94202 used as BMS IC

config LIBRE_SOLAR_TYPE_ID
    int
    help
      Numeric Libre Solar hardware type ID

#
# Visible (user-configurable) Kconfig symbols
#

menu "UEXT port"

config EXT_OLED_DISPLAY
    bool "OLED display"

config EXT_OLED_BRIGHTNESS
    depends on EXT_OLED_DISPLAY
    int "OLED display brightness"
    range 1 255
    default 1

endmenu # UEXT port

menu "ThingSet interfaces"

config THINGSET_SERIAL
    bool "ThingSet serial interface"

config THINGSET_SERIAL_RX_BUF_SIZE
    depends on THINGSET_SERIAL
    int "ThingSet serial RX buffer size"
    range 64 2048
    default 512

config THINGSET_SERIAL_TX_BUF_SIZE
    depends on THINGSET_SERIAL
    int "ThingSet serial TX buffer size"
    range 256 2048
    default 1024

config THINGSET_CAN
    depends on CAN
    bool "ThingSet CAN interface"

config THINGSET_EXPERT_PASSWORD
    depends on THINGSET_SERIAL || THINGSET_CAN
    string "ThingSet expert user password"
    default "expert123"

config THINGSET_MAKER_PASSWORD
    depends on THINGSET_SERIAL || THINGSET_CAN
    string "ThingSet maker password"
    default "maker456"

endmenu # ThingSet interface

# include main Zephyr menu entries from Zephyr root directory
source "Kconfig.zephyr"
