# Kconfig - Libre Solar BMS 8S50 IC board configuration
#
# Copyright (c) 2020 Libre Solar Technologies GmbH
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_BMS8S50IC_F072
	bool "Libre Solar BMS 8S50 IC"
	depends on SOC_STM32F072XB
