/*
 * Copyright (c) The Libre Solar Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f0/stm32f072Xb.dtsi>
#include <st/f0/stm32f072c(8-b)tx-pinctrl.dtsi>

/ {
	model = "Libre Solar BMS 5S50 SC";
	compatible = "st,stm32f072";

	pcb {
		compatible = "bms";

		type = "BMS 15S80 SC";
		version-str = "v0.1";
		version-num = <1>;

		/* adjust via overlay if bq76940 is used */
		num-cells-max = <10>;
		num-thermistors-max = <2>;

		current-max = <80>;
		shunt-res = <1500>;

		/*
		 * Additional information:
		 * - GAIN_PACK_VOLTAGE (105.6/5.6)
		 * - PIN_V_BAT    PA_4
		 * - PIN_V_EXT    PA_5
		 */
	};

	chosen {
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led1: led_0 {
			gpios = <&gpioa 9 GPIO_ACTIVE_HIGH>;
			label = "LED 1";
		};
		led2: led_1 {
			gpios = <&gpioa 10 GPIO_ACTIVE_HIGH>;
			label = "LED 2";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		power_button: button {
			label = "Power Button";
			gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
		};
	};

	switches {
		compatible = "switch";
		can_en {
			gpios = <&gpioa 15 GPIO_ACTIVE_LOW>;
			label = "CAN transceiver enable";
		};
		pchg_en {
			gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
			label = "PCHG enable pin";
		};
	};

	aliases {
		led-red = &led1;
		led-green = &led2;
		uart-dbg = &usart3;
		uart-uext = &usart2;
		i2c-uext = &i2c1;
		sw-pwr = &power_button;
	};

	soc {
		usart3: serial@40004800 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40004800 0x400>;
			clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00040000>;
			interrupts = <29 0>;
			status = "disabled";
			label = "UART_3";
		};
		usart4: serial@40004c00 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40004c00 0x400>;
			clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00080000>;
			interrupts = <29 0>;
			status = "disabled";
			label = "UART_4";
		};
	};
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	current-speed = <115200>;
	status = "okay";
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	status = "okay";

	ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		label = "SSD1306";
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb13 &i2c2_sda_pb14>;
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";

	bq769x0@8 {
		compatible = "ti,bq769x0";
		label = "BQ76940";
		reg = <0x08>;     // ignored (firmware will auto-detect I2C address)
		alert-gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
	};

	eeprom@51 {
		// M24256-BW
		compatible = "atmel,at24";
		reg = <0x51>;	// 1 0 1 0 A2 A1 A0 = 1010001
		label = "EEPROM_0";
		size = <32768>;
		pagesize = <64>;
		address-width = <16>;
		timeout = <7>;
	};
};

&spi1 {
	pinctrl-0 = <&spi1_sck_pb3 &spi1_miso_pb4 &spi1_mosi_pb5>;
	cs-gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&iwdg {
	status = "okay";
};

&adc1 {
	status = "okay";
};

&can1 {
	pinctrl-0 = <&can_rx_pb8 &can_tx_pb9>;
	bus-speed = <250000>;
	status = "okay";
};
