# Copyright (c) The Libre Solar Project Contributors
# SPDX-License-Identifier: Apache-2.0

if BOARD_BMS_15S80_SC

config BOARD
	default "bms_15s80_sc"

config LIBRE_SOLAR_TYPE_ID
	default 2

config BMS_BQ76930
	default y

endif # BOARD_BMS_15S80_SC
