/*
 * Copyright (c) The Libre Solar Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <dt-bindings/bms_ic/bq769x2.h>

/ {
	pcb {
		compatible = "bms";

		type = "Native Simulator BMS";
		version-str = "v0.1";
		version-num = <1>;
	};

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led1: led_0 {
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		};
		led2: led_1 {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		power_button: button {
			gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
		};
	};

	aliases {
		led-red = &led1;
		led-green = &led2;
		sw-pwr = &power_button;
		bms-ic = &bq769x2;
	};
};

&i2c0 {
	status = "okay";

	bq769x2: bq76952@8 {
		compatible = "ti,bq769x2-i2c";
		reg = <0x08>;
		alert-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		used-cell-channels = <0xFFFF>;
		/* all NTCs configured with 18k pull-up */
		ts1-pin-config = <0x07>;
		dchg-pin-config = <0x07>;
		cell-temp-pins = <BQ769X2_PIN_TS1>;
		fet-temp-pin = <BQ769X2_PIN_DCHG>;
		board-max-current = <200>;
		shunt-resistor-uohm = <1500>;
		status = "okay";
	};
};
